
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}


/*NAVBAR*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
    height: 90px;
    margin-bottom: 40px;
    background-color: #22577aff;
}

nav:hover{
    background-color: rgb(46, 104, 170);
}

img.logo {
    margin-left: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav a:hover{
    border: 2px solid white;
    border-radius: 25px;
}

#sobre_logo{
    border: none;
}

nav ul {
    display: flex;
}

nav li {
    padding: 10px;
    list-style: none;
    color: white;
    font-size: 26px;
}

/*FIM DA NAVBAR*/

h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 48px;
    line-height: 3rem;
}

body {
    background-color: white;
    background-image: url(../img/fundo-teste.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.texto-2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    margin-top: 20px;
}

.titulo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #22577aff;
    margin-top: 25px;
}

.imagem {
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    border-color: #38A3A5;

}
.container{
    margin: 0 auto;
    margin-top: 20px;
    width: 1080px;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 12px;
}

section{
    padding: 20px;
}

/*BOTÕES*/
.topo{
    right: 0;
    margin: 0px;
}

.como_ajudar,.topo{
    position: fixed;
    bottom: 0;
    margin: 15px;
}

.como_ajudar a{
    background-color:rgb(223, 190, 6);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}
/**/

/*FOTER*/

footer{
    margin-top: 70px;
    background-color: #22577aff;  
}

.footer_flex {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: row;
    background-color: #22577aff;
}

footer p {
    font-size: 15px;
    color: white;
    margin: 10px;
    justify-content: center;
    padding: 5px;
    width: 70%;
}


.social-medias {
    /* position: relative; */
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    
}

footer .social-medias {
    width: 30%;
    height: 130px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

footer img {
    margin-left: 15px;
}

footer .autoria{
    text-align: center;
    display: flex;
}

.autoria img{
    width: 20px;
    margin-top: 5px;
}

footer hr{
    margin-bottom: 10px;
    color: white;
}
 

/*FIM RODAPÉ */

@media screen and (max-width:800px){

    footer .social-medias  {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    footer .autoria{
        text-align: center;
        display: flex;
    }

    .autoria img{
        width: 20px;
        margin-top: 5px;
    }

    main{
        width: 540px;   
        margin: 0 auto;
        margin-top: 30px;
    }

    section.container{
        width: 540px;
        background-color: white;
        margin: 0 auto;
        margin-top: 30px;
        padding: 10px;
    }
    
    header ul{
        display: none;
    }

    nav{
        display: flex;
        width: 100%; 
        height: 200px;
        background-color: #22577aff;
    }
    
    img.logo{
        width: 150px;
        position: relative;
    }

    .logo {
        margin-left: 0px;
    }
    
    nav a {
        color: white;
        text-decoration: none;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    nav li {
        padding: 0px;
        list-style: none;
        color: white;
        font-size: 26px;
    }
    
    .como_ajudar,.topo{
        display: none;
    }
}