@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.divisao {
    width: 100px;
    height: 3px;
    background-color: #22577aff;
    margin: 0 auto;
    margin-bottom: 20px;
}

body {
    background-color: white;
    background-image: url(../img/fundo-teste.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

/*****HEADER*****/

header h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 48px;
    line-height: 3rem;
}

header ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

header ul li{
    margin-left: 6px;
    margin-right: 6px ;
}

header a{
    color:#22577aff ;
    text-decoration: none;
}

header a:hover{
    text-decoration:overline;
}

/*****FIM HEADER*****/

.topo{
    right: 0;
    margin: 0px;
}

.como_ajudar,.topo{
    position: fixed;
    bottom: 0;
    margin: 15px;
}

.como_ajudar a{
    background-color:rgb(223, 190, 6);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

/*NAVBAR*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
    height: 90px;
    margin-bottom: 40px;
    background-color: #22577aff;
}

nav:hover{
    background-color: rgb(46, 104, 170);
}

img.logo {
    margin-left: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav a:hover{
    border: 2px solid white;
    border-radius: 25px;
}

#sobre_logo{
    border: none;
}

nav ul {
    display: flex;
}

nav li {
    padding: 10px;
    list-style: none;
    color: white;
    font-size: 26px;
}

/*FIM DA NAVBAR*/

main{
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
}

/*********GRID********/
main .grid_1{
    display: grid;
    grid-template: 
    "img1 txt1" 500px
    "txt2 img2" 500px
    "img3 txt3" 500px
    "txt4 img4" 500px
    "img5 txt5" 500px
    "txt6 img6" 500px;
    height: 100vh;
}

main img{
    width: 100%;
    height: 300%;
}

.grid_1 .grid_img1{
    grid-area: img1;
    background-image: url(../img/pisi.jpg);
}

.grid_1 .grid_img2{
    grid-area: img2;
    background-image: url(../img/fisio.jpg);
}

.grid_1 .grid_txt1{
    grid-area: txt1;
}

.grid_1 .grid_txt2{
    grid-area: txt2;
    background-color: white;
}

.grid_1 .grid_img3{
    grid-area: img3;
    background-image: url(../img/nutri.jpg);
}

.grid_1 .grid_txt3{
    grid-area: txt3;
    background-color: white;
}

.grid_1 .grid_img4{
    grid-area: img4;
    background-image: url(../img/fono.jpg);
    background-position: center;
}

.grid_1 .grid_img5{
    grid-area: img5;
    background-image: url(../img/juri.jpg);
    background-position: center;
}

.grid_1 .grid_img6{
    grid-area: img6;
    background-image: url(../img/social-work.jpg);
    background-position: center;
}

.grid_1 .grid_txt4{
    grid-area: txt4;
    background-color: white;
}

.grid_1 .grid_txt5{
    grid-area: txt5;
    background-color: white;
}

.grid_1 .grid_txt6{
    grid-area: txt6;
    background-color: white;
}

.grid_1 .grid_txt1,
.grid_1 .grid_txt2,
.grid_1 .grid_txt3,
.grid_1 .grid_txt4,
.grid_1 .grid_txt5,
.grid_1 .grid_txt6
{
    display: flex;
   align-items: center;
}

.grid_1 p{
    margin: 20px;
}

.grid_1 h1{
    margin: 10px;
    font-weight: 700;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 48px;
    line-height: 3rem;
    text-align: center;
}

footer {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 130px;
    background-color: #22577aff;
    
}

footer p {
    font-size: 19px;
    color: white;
    margin: 25px;
    padding: 5px;
}



@media screen and (max-width:800px){
    
    header ul{
        display: none;
    }

    nav{
        display: flex;
        width: 100%; 
        height: 200px;
        background-color: #22577aff;
    }
    
    img.logo{
        width: 150px;
        position: relative;
    }

    .logo {
        margin-left: 0px;
    }
    
    nav a {
        color: white;
        text-decoration: none;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    nav li {
        padding: 0px;
        list-style: none;
        color: white;
        font-size: 26px;
    }

    /*MAIN*/

    main{
        width: 360px;
        background-color: white;
        margin: 0 auto;
        margin-top: 30px;
    }
    main .grid_1{
        display: grid;
        grid-template: 
        "img1" 300px
        "txt1" 400px
        "img2" 300px
        "txt2" 400px
        "img3" 300px
         "txt3" 400px
        "img4" 300px
         "txt4" 400px
         "img5" 300px
         "txt5" 400px
         "img6" 300px
         "txt6" 400px/
         360px;
        height: 100vh;
    }
    
    main img{
        width: 100%;
        height: 300%;
    }
    
    .grid_1 p{
        margin: 20px;
    }
    
    .grid_1 h1{
        margin: 10px;
    }

}